.use-platform .swiper-pagination {
  position: relative;
  margin-bottom: 2rem;
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.use-platform .swiper {
  display: flex;
  flex-direction: column-reverse;
}

.use-platform .swiper-pagination-bullet {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease;
  outline: none;
  position: relative;
  border-radius: 9999px;
  overflow: hidden;
  border: 1px solid;
  background-color: var(--background-primary);
  border-color: var(--border-secondary);
  color: var(--text-primary);
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
  min-width: 120px;
  justify-content: center;
}

.use-platform .swiper-pagination-bullet:hover {
  background-color: var(--background-secondary-hover);
}

.use-platform .swiper-pagination-bullet-active {
  color: #fff;
  /* background: #007aff; */
}

.use-platform .bullet-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 0;
  transform: translateX(-100%);
  transition: transform 8s linear;
}

.use-platform .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) .bullet-progress {
  transform: translateX(-100%);
  background-color: var(--background-primary);
}

.use-platform .bullet-text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.use-platform .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) .bullet-text {
  mix-blend-mode: normal;
  color: var(--text-primary);
}

.use-platform .swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover .bullet-text {
  color: var(--text-primary);
  background: rgba(0, 0, 0, 0);
}

.use-platform .swiper-pagination-bullet-active .bullet-progress {
  transform: translateX(0%);
}

.use-platform .bullet-text {
  position: relative;
  z-index: 1;
}

.use-platform__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.use-platform__bullet {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 5px;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.use-platform__bullet-text {
  position: relative;
  z-index: 2;
  color: #333;
}

.use-platform__bullet-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.1s linear;
}

.use-platform__bullet.swiper-pagination-bullet-active .use-platform__bullet-text {
  color: #fff;
}

.use-platform__bullet.swiper-pagination-bullet-active .use-platform__bullet-progress {
  animation: use-platform-progress-animation 8s linear forwards;
}

@keyframes use-platform-progress-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}